<div class="panel panel-default" style="text-align: center;">
  <h1 style="color:green;">WELCOME</h1>
  <p>FIND PLACES BASED ON YOUR PLAN AND VISIT</p>

<div class="">
  <h3>Top Destination</h3>
<div class="polaroid">
  <img src="/templates/image/dhaka.png" style="width:20%">
  <div class="container">
  <p>Cox's Bazar</p>
  </div>
</div>

<div class="polaroid" style="position:left;">
  <img src="/templates/image/cox.png" style="width:20%">
  <div class="container">
  <p>Dhaka</p>
  </div>
</div>

</div>

</div>
