<div class="panel panel-default" ng-init="getInfo()">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;"
class="glyphicon glyphicon-list"> </span> Places List</p>
<ul class="nav nav-pills pull-right">
			    <li role="presentation"><a href="#/info/create">
			    <span class="glyphicon glyphicon-plus"> </span>	Add New Places</a></li>
			  </ul>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
			<tr>
			  <th>Address</th>
			  <th>Location</th>
			  <th>opened</th>
			  <th>Actions</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="contact in contacts">
			  <td>{{ contact.address }}</td>
			  <td>{{ contact.location }}</td>
			  <td>{{ contact.opened }}</td>
			  <td>
			    <a href="#/info/{{contact._id}}/show" class="btn btn-info"> Show  </a>
			    <a href="#/info/{{contact._id}}/edit" class="btn btn-success"><span class="glyphicon glyphicon-edit"> </span> Edit  </a>
			  	<a ng-click="deleteInfo(contact._id)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"> </span> Delete </a>
			  </td>
			</tr>
			</tbody>
		</table>
    </div>
</div>
